@import "variables";

.board {
    width: 400px;
    height: 400px;
    background-color: $primary;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    border-radius: 5px;
}