<ng-container [ngSwitch]="state">

    <div class="cover" *ngSwitchCase="0">
        <button mat-raised-button color="primary" (click)="onNewGame()">New Game</button>
    </div>
    <ng-container *ngSwitchCase="1"></ng-container>
    <div class="cover" *ngSwitchCase="2">
        <h1 *ngIf="winner === 'cats'; else congratsPlayer">Congrats {{winner}}! you have Won the game!</h1>
        <ng-template #congratsPlayer>
            <h1>Congrats {{winner}}! you have Won the game!</h1>
        </ng-template>
        <button mat-raised-button color="primary" (click)="onNewGame()">New Game</button>
    </div>
    <div class="cover" *ngSwitchDefault> Game Tilt... {{state}}</div>
    <div style="bottom:0;right:100px">state: {{state}}</div>
</ng-container>
